<!--The content below is only a placeholder and can be replaced.-->
  <md-card class="example-card">
  <md-card-content>
  <h1>To-do list Angular</h1>
  <md-button-toggle>Show all</md-button-toggle>
  <section class="example-section">
<md-input-container>
  <input mdInput #newtodo type="text" class="new-todo" placeholder="Wich artist is on your buckelist ?" autofocus="" (keyup.enter)="addTodo(newtodo.value); newtodo.value = ''">
</md-input-container>
</section>
  </md-card-content>
</md-card>

<md-card class="example-card" *ngIf="todos.length > 0" >
  <md-card-content>
<md-list class="todo-list">
  <md-list-item *ngFor="let todo of todos | filterBy: filter">
    <md-checkbox [class.completed]="todo.completed" [checked]="todo.completed" (change)="toggleTodo(todo)">{{todo.title}}</md-checkbox>
    <button class="destroy" (click)="removeTodo(todo)">X</button> 
  </md-list-item> 

</md-list>
  <footer class="footer" *ngIf="todos.length > 0 ">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
  </md-card-content>
</md-card>
