<!--The content below is only a placeholder and can be replaced.-->
  <md-card class="example-card">
  <md-card-content>
  <h1>{{title}}</h1>
  <md-button-toggle #toggle (change)="toggleFilter()">Artists viewed</md-button-toggle>
  <section class="example-section">
<md-input-container>
  <input mdInput #newtodo type="text" class="new-todo" placeholder="Who do you want to see ?" autofocus="" (keyup.enter)="addTodo(newtodo.value); newtodo.value = ''">
</md-input-container>
</section>
  </md-card-content>
</md-card>

<md-card class="example-card" *ngIf="todos.length > 0" >
  <md-card-content>
<md-list class="todo-list">
  <md-list-item *ngFor="let todo of todos | filterBy: filter">
    <md-checkbox [class.completed]="todo.completed" [checked]="todo.completed" (change)="toggleTodo(todo)">{{todo.title}}</md-checkbox>
   <md-icon  class="destroy" (click)="removeTodo(todo)">delete</md-icon>
  </md-list-item> 

</md-list>
  <footer class="footer" *ngIf="remaining() > 0 ">
    <span class="todo-count"><strong>{{remaining()}}</strong> remaining of {{todos.length}} {{todos.length == 1 ? 'artist' : 'artists'}}</span>
  </footer>
  </md-card-content>
</md-card> 

