#sidebar {
    padding: 24px 0;
}
#sidebar h2 {
    padding: 0 24px;
}

#sidebar .mat-list-item {
    margin-bottom: 10px;
}
.mat-card-avatar {
    margin-right: 15px;
}

.selected {
    background-color: #D1C4E9 ;
    /* color: white; */
  }