/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #eee;
    padding: 30px;
    background-image: url('assets/concert.png');
    background-size: cover cover;
    background-repeat: no-repeat;
}

.example-card {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.mat-button{
    background: #ffdf0f;
    margin-left: 15px;
}

.mat-button-toggle {
        margin-bottom: 20px;
        opacity: .4;
}
.mat-list-item-content {
    display: flex;
}
.mat-checkbox {
    flex-grow: 2;
}
.mat-checkbox label {
    float: left;
}

 .example-section {
  align-content: center;
  align-items: center;
  height: 60px;
} 

.destroy {
    color: #ccc;
}

.destroy:hover{
    color: #999;
    cursor: pointer;
}